Lets perform some sorting on our final dataset. 
I want to findout the ranking of each drink based on its consumption

In [3]:
import numpy as np 
import pandas as pd

In [22]:
data = pd.read_csv('/Users/abhishek/Desktop/visualization-project/wip/final.csv', encoding="ISO-8859-1")

In [23]:
data.head()

  country         name  Year  Beer  Wine  Spirits  Other
0   asafg  Afghanistan  2010   0.0   0.0      0.0    0.0
1   eualb      Albania  2010  31.8  19.8     48.4    0.0
2   afdza      Algeria  2010  62.6  35.5      0.0    2.0
3   euand      Andorra  2010  34.6  45.3     20.1    0.0
4   afago       Angola  2010  64.3  13.7     17.4    4.7

In [24]:
beer = data.sort_values(by='Beer',ascending=False )

In [25]:
wine = data.sort_values(by='Wine',ascending=False )

In [26]:
spirits = data.sort_values(by='Spirits',ascending=False )

In [27]:
other = data.sort_values(by='Other',ascending=False )

In [28]:
beer.head()

    country     name  Year   Beer  Wine  Spirits  Other
187   asyem    Yemen  2010  100.0   0.0      0.0    0.0
19    asbtn   Bhutan  2010  100.0   0.0      0.0    0.0
186   asvnm  Vietnam  2010   97.3   0.6      2.1    0.0
114   afnam  Namibia  2010   96.7   0.3      0.9    2.1
24    asbrn   Brunei  2010   89.8   2.3      7.2    0.7

In [29]:
wine.head()

    country                   name  Year  Beer  Wine  Spirits  Other
168   octls            Timor-Leste  2010   9.3  75.9     14.8    0.0
53    afgnq      Equatorial Guinea  2010  27.8  72.2      0.0    0.0
80    euita                  Italy  2010  23.0  65.6     11.5    0.0
145   afstp  Sao Tome and Principe  2010  23.5  60.2     16.3    0.0
182   saury                Uruguay  2010  30.6  59.9      9.5    0.0

In [30]:
spirits.head()

    country          name  Year  Beer  Wine  Spirits  Other
71    nahti         Haiti  2010   0.2   0.2     99.6    0.0
146   assau  Saudi Arabia  2010   0.0   1.9     97.9    0.2
75    asind         India  2010   6.8   0.1     93.1    0.0
165   astjk    Tajikistan  2010  10.2   1.1     88.7    0.0
93    aflbr       Liberia  2010  10.8   1.0     88.1    0.0

In [31]:
other.head()

    country          name  Year  Beer  Wine  Spirits  Other
61    afgmb        Gambia  2010   5.6   0.7      0.3   93.5
150   afsle  Sierra Leone  2010   6.4   0.5      0.7   92.3
121   afnga       Nigeria  2010   8.0   0.4      0.9   90.7
176   afuga        Uganda  2010   9.4   0.1      1.9   88.6
139   afrwa        Rwanda  2010  11.1   0.0      0.4   88.4

In [41]:
# add new blank column and create new csv file for each beverage
beer['Beer_Rank'] =""

In [43]:
beer.to_csv('/Users/abhishek/Desktop/visualization-project/wip/beer.csv', encoding="ISO-8859-1")

In [46]:
wine['Wine_Rank'] =""
wine.to_csv('/Users/abhishek/Desktop/visualization-project/wip/wine.csv', encoding="ISO-8859-1")

spirits['Spirits_Rank'] =""
spirits.to_csv('/Users/abhishek/Desktop/visualization-project/wip/spirits.csv', encoding="ISO-8859-1")

other['Other_Rank'] =""
other.to_csv('/Users/abhishek/Desktop/visualization-project/wip/other.csv', encoding="ISO-8859-1")

Presently now, I had arranged information for every one of the beverages in isolated documents with an additional section for its rank, I just included numeric esteem beginning from 1 to end of the row on the arranged information inside exceed column sheet for each drink record.

In [47]:
# Now, read new files again and merge them. 
beer = pd.read_csv('/Users/abhishek/Desktop/visualization-project/wip/beer.csv', encoding="ISO-8859-1")
wine = pd.read_csv('/Users/abhishek/Desktop/visualization-project/wip/wine.csv', encoding="ISO-8859-1")
spirits = pd.read_csv('/Users/abhishek/Desktop/visualization-project/wip/spirits.csv', encoding="ISO-8859-1")
other = pd.read_csv('/Users/abhishek/Desktop/visualization-project/wip/other.csv', encoding="ISO-8859-1")

In [58]:
mer_data = beer.merge(wine,left_on='name',right_on='name',how='left')

In [59]:
mer_data.head()

,country_x,name,Year_x,Beer_x,Wine_x,Spirits_x,Other_x,Beer_Rank,country_y,Year_y,Beer_y,Wine_y,Spirits_y,Other_y,Wine_Rank
0,asyem,Yemen,2010,100.0,0.0,0.0,0.0,1,asyem,2010,100.0,0.0,0.0,0.0,174
1,asbtn,Bhutan,2010,100.0,0.0,0.0,0.0,2,asbtn,2010,100.0,0.0,0.0,0.0,189
2,asvnm,Vietnam,2010,97.3,0.6,2.1,0.0,3,asvnm,2010,97.3,0.6,2.1,0.0,158
3,afnam,Namibia,2010,96.7,0.3,0.9,2.1,4,afnam,2010,96.7,0.3,0.9,2.1,164
4,asbrn,Brunei,2010,89.8,2.3,7.2,0.7,5,asbrn,2010,89.8,2.3,7.2,0.7,125

In [60]:
mer1_data=mer_data.merge(spirits,left_on='name',right_on='name',how='left')

In [61]:
mer1_data.head()

,country_x,name,Year_x,Beer_x,Wine_x,Spirits_x,Other_x,Beer_Rank,country_y,Year_y,...,Spirits_y,Other_y,Wine_Rank,country,Year,Beer,Wine,Spirits,Other,Spirits_Rank
0,asyem,Yemen,2010,100.0,0.0,0.0,0.0,1,asyem,2010,...,0.0,0.0,174,asyem,2010,100.0,0.0,0.0,0.0,176
1,asbtn,Bhutan,2010,100.0,0.0,0.0,0.0,2,asbtn,2010,...,0.0,0.0,189,asbtn,2010,100.0,0.0,0.0,0.0,188
2,asvnm,Vietnam,2010,97.3,0.6,2.1,0.0,3,asvnm,2010,...,2.1,0.0,158,asvnm,2010,97.3,0.6,2.1,0.0,162
3,afnam,Namibia,2010,96.7,0.3,0.9,2.1,4,afnam,2010,...,0.9,2.1,164,afnam,2010,96.7,0.3,0.9,2.1,166
4,asbrn,Brunei,2010,89.8,2.3,7.2,0.7,5,asbrn,2010,...,7.2,0.7,125,asbrn,2010,89.8,2.3,7.2,0.7,150

In [62]:
mer2_data = mer1_data.merge(other,left_on='name',right_on='name',how='left')

In [63]:
mer2_data.head()

,country_x,name,Year_x,Beer_x,Wine_x,Spirits_x,Other_x,Beer_Rank,country_y,Year_y,...,Spirits_x,Other_x,Spirits_Rank,country_y,Year_y,Beer_y,Wine_y,Spirits_y,Other_y,Other_Rank
0,asyem,Yemen,2010,100.0,0.0,0.0,0.0,1,asyem,2010,...,0.0,0.0,176,asyem,2010,100.0,0.0,0.0,0.0,110
1,asbtn,Bhutan,2010,100.0,0.0,0.0,0.0,2,asbtn,2010,...,0.0,0.0,188,asbtn,2010,100.0,0.0,0.0,0.0,156
2,asvnm,Vietnam,2010,97.3,0.6,2.1,0.0,3,asvnm,2010,...,2.1,0.0,162,asvnm,2010,97.3,0.6,2.1,0.0,114
3,afnam,Namibia,2010,96.7,0.3,0.9,2.1,4,afnam,2010,...,0.9,2.1,166,afnam,2010,96.7,0.3,0.9,2.1,48
4,asbrn,Brunei,2010,89.8,2.3,7.2,0.7,5,asbrn,2010,...,7.2,0.7,150,asbrn,2010,89.8,2.3,7.2,0.7,66

In [64]:
mer2_data.to_csv('/Users/abhishek/Desktop/visualization-project/wip/merged_data.csv', encoding="ISO-8859-1")

In [68]:
ranking = pd.read_csv('/Users/abhishek/Desktop/visualization-project/wip/merged_data.csv', encoding="ISO-8859-1")

In [70]:
ranking

,country,name,Year,Beer,Wine,Spirits,Other,Beer_Rank,Wine_Rank,Spirits_Rank,Other_Rank
0,asyem,Yemen,2010,100.0,0.0,0.0,0.0,1,174,176,110
1,asbtn,Bhutan,2010,100.0,0.0,0.0,0.0,2,189,188,156
2,asvnm,Vietnam,2010,97.3,0.6,2.1,0.0,3,158,162,114
3,afnam,Namibia,2010,96.7,0.3,0.9,2.1,4,164,166,48
4,asbrn,Brunei,2010,89.8,2.3,7.2,0.7,5,125,150,66
5,ocnru,Nauru,2010,85.4,14.6,0.0,0.0,6,65,181,176
6,asidn,Indonesia,2010,84.5,0.1,15.3,0.0,7,170,126,136
7,asmmr,Myanmar,2010,82.6,5.7,11.8,0.0,8,98,140,177
8,ocslb,Solomon Islands,2010,81.1,2.1,16.7,0.0,9,129,121,117
9,afgin,Guinea,2010,78.9,16.3,3.7,1.1,10,61,155,60
10,afcog,Congo,2010,78.4,9.8,10.9,0.8,11,80,144,63
11,ocplw,Palau,2010,77.7,5.9,16.4,0.0,12,97,123,168
12,sabol,Bolivia,2010,76.8,3.8,19.3,0.1,13,111,112,100
13,asmys,Malaysia,2010,76.2,2.0,21.8,0.1,14,132,103,93
14,asirq,Iraq,2010,76.1,1.0,22.9,0.0,15,148,100,162
15,namex,Mexico,2010,75.7,1.5,22.2,0.5,16,140,102,70
16,saven,Venezuela,2010,75.6,0.8,23.4,0.2,17,155,98,88
17,ocwsm,Samoa,2010,70.9,16.6,12.5,0.0,18,58,139,107
18,assgp,Singapore,2010,70.1,13.5,14.7,1.7,19,69,130,53
19,napan,Panama,2010,69.2,4.6,26.0,0.2,20,106,92,89
20,aftun,Tunisia,2010,68.6,27.7,3.7,0.0,21,37,154,121
21,afgab,Gabon,2010,68.3,11.9,19.8,0.1,22,73,111,92
22,ocfji,Fiji,2010,67.7,0.9,31.1,0.2,23,152,82,85
23,nablz,Belize,2010,67.6,2.0,30.3,0.1,24,131,84,95
24,saecu,Ecuador,2010,67.3,1.2,31.5,0.0,25,142,81,144
25,afsyc,Seychelles,2010,67.0,22.2,10.8,0.0,26,46,145,131
26,aftcd,Chad,2010,66.3,3.4,3.8,26.5,27,112,153,25
27,afmus,Mauritius,2010,66.2,12.3,21.3,0.2,28,72,106,86
28,sacol,Colombia,2010,66.1,1.1,32.5,0.3,29,145,80,82
29,afago,Angola,2010,64.3,13.7,17.4,4.7,30,68,118,42
...,...,...,...,...,...,...,...,...,...,...,...
161,aflbr,Liberia,2010,10.8,1.0,88.1,0.0,162,149,5,189
162,asare,United Arab Emirates,2010,10.3,2.9,86.7,0.0,163,120,6,128
163,astjk,Tajikistan,2010,10.2,1.1,88.7,0.0,164,146,4,129
164,afbfa,Burkina Faso,2010,10.0,3.0,3.1,83.8,165,118,157,7
165,octuv,Tuvalu,2010,10.0,15.5,74.5,0.0,166,62,15,127
166,asarm,Armenia,2010,9.7,5.3,84.9,0.0,167,100,8,160
167,afuga,Uganda,2010,9.4,0.1,1.9,88.6,168,173,164,4
168,octls,Timor-Leste,2010,9.3,75.9,14.8,0.0,169,1,129,120
169,afmwi,Malawi,2010,9.1,1.2,13.4,76.2,170,144,136,12
170,assyr,Syria,2010,8.5,27.9,63.5,0.0,171,35,27,115
171,afsdn,Sudan,2010,8.0,0.0,13.5,78.5,172,176,135,11
172,afnga,Nigeria,2010,8.0,0.4,0.9,90.7,173,162,167,3
173,asind,India,2010,6.8,0.1,93.1,0.0,174,172,3,137
174,afsle,Sierra Leone,2010,6.4,0.5,0.7,92.3,175,161,169,2
175,afgmb,Gambia,2010,5.6,0.7,0.3,93.5,176,156,172,1
176,asqat,Qatar,2010,1.2,13.9,84.6,0.3,177,67,9,80
177,nahti,Haiti,2010,0.2,0.2,99.6,0.0,178,168,1,140
178,asafg,Afghanistan,2010,0.0,0.0,0.0,0.0,179,175,177,133
179,afsom,Somalia,2010,0.0,0.0,0.0,0.0,180,177,178,123
180,assau,Saudi Arabia,2010,0.0,1.9,97.9,0.2,181,133,2,90
181,eusmr,San Marino,2010,0.0,0.0,0.0,0.0,182,178,179,106
182,aspak,Pakistan,2010,0.0,0.0,0.0,0.0,183,180,180,169
183,eumco,Monaco,2010,0.0,0.0,0.0,0.0,184,181,182,180
184,afmrt,Mauritania,2010,0.0,0.0,0.0,0.0,185,182,183,182
185,ocmhl,Marshall Islands,2010,0.0,0.0,0.0,0.0,186,183,184,183
186,asmdv,Maldives,2010,0.0,0.0,0.0,0.0,187,184,185,184
187,aflby,Libya,2010,0.0,0.0,0.0,0.0,188,185,186,188
188,occok,Cook Islands,2010,0.0,22.6,77.4,0.0,189,44,11,148
189,asbgd,Bangladesh,2010,0.0,0.0,0.0,0.0,190,190,189,157
190,nagrl,Greenland,2010,0.0,0.0,0.0,0.0,191,191,191,191

### So, This is our final data set that we are going to use for our map plotting. As I mentioned earlier, i'm gonna use my Sublime editor for HTML, JavaScript and D3 JS coading